@font-face {
  font-family: "Marhaban";
  src: url("../fonts/Marhaban-Regular.otf");
}

@font-face {
  font-family: "Wizard";
  src: url(("../fonts/DJBImNoWizard.ttf"));
  // src: url(("../fonts/"));
}

@font-face {
  font-family: "Witchcraft";
  src: url("../fonts/Witchcraft.ttf");
}

/*
@function derive-rgb-values-from-hex($hex) {
  @return red($hex), green($hex), blue($hex);
} */

:root {
  --primary-fonts: 'Poppins', sans-serif;
  --secondary-fonts: 'Wizard';
  --tertiary-fonts: 'Witchcraft';
  // --primary-color-light-2: #f1bbc5;
  // --beauty-darker-color: #571e29;
  // --saphire-color: #f8dde2;
  // --color-primary-light-1: #ffeee4;
  // --color-shadow: rgba(0, 0, 0, 0.25);
  // --color-black-2: #2b2a2a;
  // --color-grey-dark-2: #6d6d6d;
  // --color-grey-light-2: #e2eef6;
  // --color-action: #f45404; /* Main Action color */
  // --color-action-dark: #b74005;
  // --white-faded: rgba(255, 255, 255, 0.5);
  --transition: all 0.5s ease-in-out;
  --koa-transition: all 0.8s ease-in-out;
  --normal-color: var(--tertiary-color);
  --normal-darker-color: var(--tertiary-darker-color);
  --border-radius-sm: 0.3125rem;
  --border-radius-md: 0.625rem;
  --border-radius-lg: 1.5625rem;
  --border-radius-xl: 3.125rem;
  --border-radius-round: 50%;
  --box-shadow-btn: 0 0.3125rem 0.5rem var(--secondary-darker-color);
}

.mt-10 {
  margin-top: 6rem;
}

.mb-10 {
  margin-bottom: 6rem;
}

.my-10 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-fonts);
  background-color: var(--base-color);
  color: var(--secondary-darker-color);
  /* position: relative; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--secondary-fonts) !important;
}

img {
  border-radius: var(--border-radius-md);
}

.text-beauty {
  color: var(--secondary-color);
}

.content-area {
  min-height: 500px;
  padding: 0;
}

.border-rounded {
  border-radius: 0.9375rem;
  overflow: hidden;
}

input {
  color: var(--secondary-color);

  &:focus-visible{
    outline: var(--secondary-color) auto 1px;
  }
}

.hidden {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid var(--secondary-color);
  -webkit-text-fill-color: var(--secondary-color);
  // -webkit-box-shadow: 0 0 0px 1000px #000 inset;s
  transition: background-color 5000s ease-in-out 0s;
}

