/* Footer - Footer menu */
@use './mixins' as *;

footer {
  background-color: var(--footer-bg-color);
  // border-top: 1px solid var(--primary-color);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 4.8rem;

  @include atSmallMedium {
    margin-bottom: 0;
  }

  #footer-wave {
    background: linear-gradient(to bottom, rgba(255,255,255,.95) 50%, rgba(255,255,255,0.01) 100%);
    backdrop-filter: blur(0.8rem);
  }

  & .totop {
    position: fixed;
    opacity: 0;
    z-index: 0;
    // top: -20px;
    // left: 50%;
    bottom: 6rem;
    right: 4rem;
    background-color: var(--tertiary-color);
    // width: 35px;
    // height: 35px;
    width: 3rem;
    height: 3rem;
    border-radius: var(--border-radius-round);
    // border: 1px solid var(--secondary-color);
    cursor: context-menu;
    pointer-events: none;
    transition: opacity 0.6s ease;

    i {
      @include absoluteCenter;
      font-size: 1.5rem;
      color: var(--base-color);
    }

    &.scroll {
      opacity: 1;
      z-index: 1030;
      cursor: pointer;
      pointer-events: auto;
    }

    &:hover .totop-icon {
      top: 0.25rem;
    }
  }

  .social-menu {
    & ul {
      list-style: none;
        padding: 0;
        margin: 1rem 0;
    }

    & .fab {
      font-size: 1.5rem;
      color: var(--footer-color);
      padding: 0.5rem 0.7rem;
      border: 2px solid var(--footer-color);
      border-radius: var(--border-radius-md);
      transition: var(--transition);

      &.fa-facebook-f {
        padding: 0.5rem 1.07rem;
      }

      &.fa-instagram {
        padding: 0.5rem 0.875rem;
      }

      &:hover {
        color: var(--secondary-darker-color);
        border: 2px solid var(--secondary-darker-color);
        box-shadow: 0 0.3125rem 1.5rem rgba(146, 50, 67, 0.3);
      }
    }
  }
}

.footer-menu ul,
.footer-widgets ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1rem;
}

.social-menu {
  & ul {
    list-style: none;
      padding: 0;
      margin: 1rem 0;
  }

  & .fab {
    font-size: 1.5rem;
    color: var(--secondary-color);
    padding: 0.5rem 0.7rem;
    border: 2px solid var(--secondary-color);
    border-radius: var(--border-radius-md);
    transition: var(--transition);

    &.fa-facebook-f {
      padding: 0.5rem 1.07rem;
    }

    &.fa-instagram {
      padding: 0.5rem 0.875rem;
    }

    &:hover {
      color: var(--secondary-darker-color);
      border: 2px solid var(--secondary-darker-color);
      box-shadow: 0 0.3125rem 1.5rem rgba(146, 50, 67, 0.3);
    }
  }
}


.footer-menu ul li,
.social-menu ul li {
    display: inline;
    margin: 0 10px 0 0;
}

.footer-menu ul li {
    &:last-child {
        margin: 0;
    }

    & a {
        font-size: 0.75rem;
        font-weight: 300;
        // color: var(--primary-lightest-color);
        color: var(--footer-color);
        text-decoration: none;
    }

    &.current-menu-item a {
        // color: var(--primary-lightest-color);
        color: var(--footer-color);
    }
}

footer .brand {
  left: 50%;
  transform: translateX(-50%);
}

footer .brand a {
  position: relative;
  background: transparent;
}

.footer-brand-logo {
  font-family: "Marhaban";
  font-size: 3.5rem;
  // color: var(--primary-lightest-color);
  color: var(--footer-color);
  margin: 1rem 0;
}

.brand a:hover .footer-logo {
  transform: scale(1.15);
}

.footer-logo {
  width: 7.625rem;
  // stroke: var(--primary-lightest-color);
  stroke: var(--footer-color);
  stroke-width: 2;
  height: auto;
  transition: transform 0.5s ease;
}

.footer-menu {
  .menu {
    li {
      a {
        font-size: 0.875rem;
        line-height: 1.4;
        font-weight: 500;
      }
    }
  }
}

.copyright-text {
  font-size: 0.875rem;
  // color: var(--primary-lightest-color);
  color: var(--footer-color);
  font-weight: 500;
  text-align: center;
}

.madeby-text {
  font-size: 0.875rem;
  // color: var(--primary-lightest-color);
  color: var(--footer-color);
  font-weight: 600;
  text-align: center;

  a {
  // color: var(--primary-lightest-color);
    color: var(--footer-color);
    text-decoration: underline;
  }
}

/* Subscribe form */
.subscribe {
  .container {
    background: var(--tertiary-darker-color);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1.5rem -0.5rem var(--secondary-darker-color);
    opacity: 0.8;
  }

  .subscribe__message {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center;

    @include atSmallMedium {
      margin-bottom: 1rem;
      margin-top: 0.5rem;
    }
  }

  #success-subscribe {
    padding-top: 1rem;
    color: var(--primary-lighter-color);
    display: none;

    &.show {
      display: block;
    }
  }

  .subscribe__text {
    font-family: var(--tertiary-fonts);
    color: var(--primary-lightest-color);
    font-size: 0.85rem;
    line-height: 1.3;
    font-weight: 600;

    @include atSmall {
      font-size: 1.1rem;
    }

    @include atSmallMedium {
      font-size: 1.3rem;
    }

    @include atMedium {
      font-size: 1.5rem;
    }
  }
}

#subscribe-form {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 1px solid var(--primary-color);
    -webkit-text-fill-color: var(--primary-lightest-color);
  }
}

.subscribe-form {
  &__row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
    justify-content: center;
    align-items: center;
  }

  &__group {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 0.5rem;

    .form-control {
      background-color: rgba(var(--primary-lightest-color-rgb), 0.4);
      color: var(--secondary-darker-color);
      border: 1px solid var(--primary-color);
      border-radius: 5px;
      font-weight: 500;
      outline: none;

      &::placeholder {
        color: var(--secondary-darker-color) !important;
        font-size: 1rem;
        font-weight: 600;
      }

      &:focus {
        border: 3px solid var(--secondary-darker-color);
        border-radius: 5px;
      }
    }

    @include atSmallMedium {
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
      margin-bottom: 0;
    }
  }

  button[type=submit] {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;

    @include atSmallMedium {
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
    }
  }
}