// ABSOLUTE CENTER
@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin atSmall {
  @media (min-width: 530px) {
    @content;
  }
}

@mixin atSmallMedium {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin atMedium {
  @media (min-width: 960px) {
    @content;
  }
}

@mixin atLarge {
  @media (min-width: 1200px){
    @content;
  }
}

@mixin atXlarge {
  @media (min-width: 1600px){
    @content;
  }
}

@mixin glassSupports {
  @supports ((-webkit-backdrop-filter: blur()) or (backdrop-filter: blur())) {
    @content;
  }
}

@mixin notGlassSupports {
  @supports not ((-webkit-backdrop-filter: blur()) or (backdrop-filter: blur())) {
    @content;
  }
}
